body{
    background-color: #F1F7FC;
}

#stopWatchContainer{
    border: 2px solid black;
    border-radius: 2em;
    background-color: #252836;

    color: rgb(255, 255, 119);
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    padding: 0.5em;

    margin: auto;
    margin-top: 4em;
    height: 25em;
    width: fit-content;
}

#stopWatchTitle{
    border: 2px solid #0F1117;
    border-radius: 1em;
    background-color: #41465C;

    font-size: 4em;
    font-family: monospace;
    font-weight: bold;
    text-align: center;

    padding: 0.3em 0.5em;

}

#stopWatchTime{
    font-family: monospace;
    font-weight: bold;
    font-size: 4em;
    color: #4FA9E8;
    font-weight: 700;

    margin-top: 0.3em;

    border: 3px solid black;
    border-radius: 0.3em 0.3em 0em 0em;
    border-bottom: none;

    background-color: #D9DCE3;
    

    padding : 0.3em 0.7em;

}

#stopWatchButtons , #stopWatchTime{
    width: 100%;
    box-sizing: border-box;

    background-color: rgb(190, 192, 199);
}

#stopWatchButtons{
    border: 2px solid black;
    border-radius: 0em 0em 1em 1em;
    border-top: none;

    padding: 0.3em 0.3em;
    align-self: center;

    display: flex;
    justify-content: center;


    margin-bottom: 1em;

    
    
    
}

#stopWatchStart , #stopWatchStop , #stopWatchReset{
    font-size: 2em;
    font-family: monospace;
    
    margin: 0.3em;
    padding: 0.3em 0.5em;
    border-radius: 0.2em;
    margin: 0.38em;

    color : white;

    
}

#stopWatchStart{
    background-color: #6FE27A;
}

#stopWatchStart:hover{
    background-color: #58D764;
}
#stopWatchStart:active{
    background-color: #45C651;
}

#stopWatchStop{   
    background-color: #E45759;
}
#stopWatchStop:hover{
    background-color: #D94345;
}
#stopWatchStop:active{
    background-color: #C93638;
}

#stopWatchReset{  
    background-color: #A7A4E8;
}
#stopWatchReset:hover{
    background-color: #9390DD;
}
#stopWatchReset:active{
    background-color: #817ED1;
}